body {
  font-family: "Kosugi Maru", "メイリオ", "Meiryo", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", sans-serif;
}

.container {
  width: 980px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #888;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  text-align: left;
}

.icn_fav {
  color: #ccc;
  cursor: pointer;
  z-index: 10;
}

.icn_fav:hover {
  opacity: 0.8;
}

.icn_fav.active {
  color: #fe8a8b;
}

label.err > input {
  background: #f7dcd9;
}

/*----------------------------------------
  ヘッダーメニュー ここから
----------------------------------------*/

header {
  width: 100%;
  height: 60px;
  background-color: rgba(000, 000, 000, 0.5);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header h1 a {
  font-size: 1.5rem;
  color: #fff;
  padding: 30px;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header li a {
  display: inline-block;
  text-decoration: none;
  padding: 0 20px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
  transform: scale(1);
}

header li a:hover {
  transform: scale(1.3);
  text-decoration: underline;
}

header li.btn {
  background: #228b22;
  padding: 8px 4px;
}

/*----------------------------------------
  サイドバー表示部分 ここから
----------------------------------------*/

.sidebar {
  margin-right: 20px;
  padding: 15px;
  width: 260px;
  min-height: 400px;
  background: #eee;
}

.sidebar select {
  height: 40px;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar input {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: #333;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.sidebar_right {
  margin: 0 0 0 20px;
}

.search_title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #eee;
  margin-bottom: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.sidebar_right a {
  display: block;
  margin-bottom: 10px;
  text-decoration: underline;
}

.sidebar_right a:hover {
  text-decoration: none;
}

/*----------------------------------------
  コンテンツ部分 ここから
----------------------------------------*/

.contents {
  padding-top: 40px;
}

.contents .flexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 40px;
}

.main {
  width: 100%;
  height: 100%;
}

.section {
  padding-bottom: 60px;
}

.page_index .main ul,
.page_mypage .main ul {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.page_index .main li,
.page_mypage .main li {
  width: calc((100% / 5) - 4px);
  padding: 4px;
  border: 2px solid #aaa;
  border-radius: 8px;
  background-color: #eee;
  margin: 4px 2px;
  position: relative;
}

.page_index .main li:hover,
.page_mypage .main li:hover {
  opacity: 0.8;
}

.page_index .main img,
.page_mypage .main img {
  max-width: 100%;
  display: block;
}

.page_index .card_name,
.page_index .card_img,
.page_mypage .card_name,
.page_mypage .card_img {
  align-items: center;
}

.page_mypage .card_img {
  height: 100%;
}

.page_mypage .panel_list {
  min-height: 260px;
}

.page_mypage .panel_list p {
  text-align: center;
  line-height: 200px;
  font-size: 1.5rem;
}

.page_mypage .comment_list .no_comment {
  background-color: #fff;
  text-align: center;
  line-height: 100px;
  font-size: 1.5rem;
}

.main .icn_fav {
  position: absolute;
  right: 8px;
  bottom: 12px;
}

.main li:last-child {
  position: relative;
}

.main .fa-angle-double-right {
  font-size: 4rem;
  color: #666;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comment_list > table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 4px;
}

.comment_list > table > thead th {
  background: #ccc;
  text-align: inherit;
  padding: 4px;
  border-right: 1px solid #fff;
  text-align: center;
}

.comment_list > table > tbody td {
  background: #eee;
  text-align: inherit;
  padding: 4px;
  border-right: 1px solid #fff;
}

.comment_list > table > tbody td a {
  text-decoration: underline;
}

.comment_list .c_day {
  width: 130px;
}

.comment_list .c_char {
  width: 120px;
}

.comment_list .c_pac {
  width: 200px;
}

.page_cardDetail .card_box {
  display: table;
  table-layout: auto;
  width: 100%;
}

.page_cardDetail .card_img_box {
  display: table-cell;
  width: 320px;
  padding: 10px;
  border: 2px solid #ddd;
  vertical-align: top;
}

.page_cardDetail .card_img_box img {
  width: 100%;
}

.page_cardDetail .card_info_box {
  display: table-cell;
  border: 2px solid #ddd;
  border-left: 0;
  vertical-align: top;
}

.page_cardDetail .card_info_box table {
  width: 100%;
}

.page_cardDetail .card_info_box tr th {
  width: 50%;
  background-color: #ddd;
}

.page_cardDetail .card_info_box tr th,
.page_cardDetail .card_info_box tr td {
  border: 1px solid #aaa;
  text-align: center;
  line-height: 24px;
}

.page_cardDetail .card_info_box textarea {
  max-width: 100%;
  height: 100px;
}

.page_cardDetail .card_info_box input {
  width: 160px;
  margin: 8px;
  float: right;
}

.page_cardDetail .card_info_box .icons {
  padding: 8px;
}

.page_cardDetail .card_info_box .icn_fav {
  position: static;
}

.page_cardDetail .card_info_bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.page_cardDetail .no_login_msg {
  padding-top: 20px;
  text-align: center;
}

.page_cardDetail .page_back {
  margin: 8px 12px;
}

/*----------------------------------------
  お気に入り一覧 ここから
----------------------------------------*/

.page_favoritList .card_box_wrapper ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page_favoritList .card_box {
  display: table;
  table-layout: auto;
  width: 50%;
  margin-bottom: 4px;
}

.page_favoritList .card_img_box {
  display: table-cell;
  width: 25%;
  padding: 2px;
  border: 2px solid #ddd;
}

.page_favoritList .card_img_box:hover {
  opacity: 0.8;
}

.page_favoritList .card_img_box img {
  width: 100%;
}

.page_favoritList .card_info_box {
  display: table-cell;
  width: 75%;
  border: 2px solid #ddd;
  border-left: 0;
  vertical-align: top;
}

.page_favoritList .card_info_box table {
  width: 100%;
  height: 100%;
}

.page_favoritList .card_info_box tr th {
  /* width: ; */
  background-color: #ddd;
}

.page_favoritList .card_info_box tr th,
.page_favoritList .card_info_box tr td {
  border: 1px solid #aaa;
  text-align: center;
}

.page_favoritList .card_info_box textarea {
  width: 100%;
  height: 80px;
  margin-top: 8px;
}

.page_favoritList .card_info_box input {
  width: 160px;
  margin: 8px;
  float: right;
}

.page_favoritList .card_info_box .icons {
  padding: 8px;
}

.page_favoritList .card_info_box .icn_fav {
  position: static;
}

.page_favoritList .card_info_bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.page_favoritList .main .favorite_list .heading {
  width: 100%;
}

.page_favoritList .main .favorite_list .heading span {
  display: block;
  float: left;
  border-left: 1px solid #000;
}

.page_favoritList .main .favorite_list .heading .panel {
  width: 20%;
}

.page_favoritList .main .favorite_list .heading .category {
  width: 30%;
}

.page_favoritList .main .favorite_list .heading .types {
  width: 15%;
}

.page_favoritList .main .favorite_list .heading .birthday {
  width: 15%;
}

.page_favoritList .main .favorite_list .heading .personality {
  width: 20%;
}

/*----------------------------------------
  ページネーション ここから
----------------------------------------*/
.pagination {
  padding-top: 60px;
}

.pagination_list {
  display: flex;
  justify-content: center;
}

.pagination .list_item {
  margin-right: 5px;
}

.pagination .list_item a {
  display: block;
  padding: 5px 10px;
  background: #eee;
  color: #000;
  text-decoration: none;
}

.pagination .list_item.active a {
  background: #666;
  color: #fff;
}

/*----------------------------------------
  フッター ここから
----------------------------------------*/
footer {
  width: 100%;
  height: 100%;
  padding-top: 80px;
}

footer p {
  padding: 10px;
  text-align: center;
  font-size: 0.5rem;
}

/*----------------------------------------
  フォーム ここから
----------------------------------------*/
label {
  display: block;
  margin-top: 20px;
}

.form {
  width: 90%;
  margin: 0 auto 20px;
  padding: 30px;
  border: 5px solid #ddd;
  border-radius: 5px;
}

.form .label_require {
  margin-left: 5px;
  background: #fe8a8b;
  font-size: 14px;
  padding: 3px 5px;
  color: #fff;
  vertical-align: bottom;
}

.page_login .form,
.page_signup .form,
.page_passRemind .form,
.page_passRemindSend .form,
.page_passRemaindRecieve .form {
  width: 400px;
}

.page_passEdit .form,
.page_withdraw .form {
  padding: 30px 20%;
}

.page_profEdit .prof_left {
  width: 30%;
}

.page_profEdit .prof_right {
  width: 60%;
}

.form .area_drop {
  width: 220px;
  height: 220px;
  background: #eee;
  text-align: center;
  color: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.form .input_file {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.form .prev_img {
  width: 100%;
  position: absolute;
  left: 0;
}

.form .imgDrop_container {
  width: 33.333%;
  float: left;
  padding-right: 15px;
  box-sizing: border-box;
}

.form .area_msg {
  color: #ff4d4d;
  padding-top: 4px;
}

input[type="text"],
input[type="password"],
input[type="number"],
.form select,
textarea {
  width: 100%;
  max-width: 350px;
  height: 50px;
  font-size: 16px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #eee;
  display: block;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

input[type="number"] {
  width: 100%;
  text-align: left;
}

input[type="submit"] {
  font-size: 18px;
  margin: 60px 0;
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;
}
input[type="submit"]:hover {
  background: #555;
}

/*----------------------------------------
  バリデーションチェック用
----------------------------------------*/
.check {
  font-size: 0.8rem;
  margin-left: 10px;
  color: #ff4d4d;
}

/*エラー時*/
.has_error input,
.has_error textarea {
  border: 2px solid #ff4d4d;
}

/*----------------------------------------
  その他
----------------------------------------*/
.msg_slide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: rgba(122, 206, 230, 0.6);
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}
